body {
    background-color: #C5CBE3;
}
h1 {
    color: rgb(51, 50, 50);
    background-color: #8191c9;
    text-align: center;
    font-size: 70px;
    padding: 40px;
    margin: 30px;
    border: 1px dotted rgb(51, 50, 50);
    font-family: 'Zen Antique Soft', serif;
   
}

img {
    width: 300px;
    float: left;
    margin: 30px;
    border-radius: 2%;
}



