body {
    background-color: #C5CBE3;
}
h1 {
    color: #323332;
    background-color: #8191c9;
    text-align: center;
    font-size: 70px;
    padding: 40px;
    margin: 30px;
    border: 1px dotted #323332;
    font-family: 'Zen Antique Soft', serif;
   
}
span {
    font-style: italic;
}

img {
    width: 300px;
    float: left;
    margin: 30px;
    border-radius: 2%;
}

h2 {
    color: #323332;
    font-family: 'Zen Antique Soft', serif;
    font-size: 40px;
}

h3 {
    color: #323332;
    font-family: 'Zen Antique Soft', serif;
    font-size: 30px;
}

p {
    color: #323332;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 20px;
}

.listed {
    color: #323332;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 20px;
}

.hobbies {
    margin: 30px;
}



